@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-image: url("HOme.png");
    background-position-x: center;



}

.contenedor {


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#title, #subtitle {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    background-color: rgb(27, 27, 71);

}

@media (max-width: 300px) {
    .contenedor div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    body div{
        background-repeat:repeat-y;

    }
  }